<div style="text-align: center;margin: 2rem 0;">
    <div>
        <h1 class="pragmatic_logo">
            <a href="{% url 'view:vew'%}">
            pragmatic
            </a>
        </h1>
    </div>
    <div>
        <span>
            <a href="{% url 'view:upload'%}">
                upload
            </a>
        </span>
        <span>
            <a href="{% url 'view:delete'%}">
                delete
            </a>
        </span>
        <span>
            <a href="{% url 'blog:blog'%}">
                post list
            </a>
        </span>
        <span>nav4</span>
    </div>
</div>