<div style="text-align: center;margin: 2rem 0;">
    <div>
        <h1 class="pragmatic_logo">
            <a href="{% url 'home'%}">
            pragmatic
            </a>
        </h1>
    </div>
    <div >
        <span>
            <a href="{% url 'view:upload'%}" class="pragmatic_header_nav">
                upload
            </a>
        </span>
        <span>
            <a href="{% url 'view:vew'%}" class="pragmatic_header_nav">
                list
            </a>
        </span>
        <span>
            <a href="{% url 'projectapp:list'%}" class="pragmatic_header_nav">
                project
            </a>
        </span>
        <span>
            <a href="{% url 'articleapp:list'%}" class="pragmatic_header_nav">
                post list
            </a>
        </span>
        {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}" class="pragmatic_header_nav">
                <span>login</span>
            </a>
            <a href="{% url 'accountapp:create' %}" class="pragmatic_header_nav">
                <span>sigin</span>
            </a>
        {% else %}
            <a href="{% url 'subscribeapp:list'%}" class="pragmatic_header_nav">
                <span>Subscription</span>
            </a>
            <a href="{% url 'accountapp:detail' pk=user.pk %}" class="pragmatic_header_nav">
                <span>Mypage</span>
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{request.path}}" class="pragmatic_header_nav">
                <span>logout</span>
            </a>
        {% endif %}
        
    </div>
</div>