{% extends 'base.html' %}
{% block content %}
    <style>
        .testing{
            background-color: white;
            height: 3rem;
            width: 3rem;
            margin: 1rem;
        }
    </style>
    <div style="text-align: center;">
        <h1 class="pragmatic_logo">
            Hello World List!
        </h1>

        {% comment %} <div class="testing" style="display: block;">block</div>
        <div class="testing" style="display: inline;">inline</div>
        <div class="testing" style="display: None;">None</div>
        <div class="testing" style="display: inline-block;">inline-block</div>
        <div class="testing" style="visibillity: hidden;">hidden</div> 
        <div class="testing" style="display: block;">block</div> {% endcomment %}
        <form action="/account/hello_world/" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="hello_world_input">
            </div>
            <input type="submit" class="btn btn-primary" value="POST">
        </form>
        {% if hello_world_list %}
        {% for hello_world in hello_world_list %}
        <h4 class="pragmatic_logo">
            {{hello_world.text}}
        </h4>
        {% endfor %}
            
        {% endif %}
        
    </div>
    
    
{% endblock  %}