{% extends 'base.html' %}
{% block content %}
    <style>
        .testing{
            background-color: white;
            height: 3rem;
            width: 3rem;
            margin: 1rem;
        }
    </style>
    <div style="text-align: center;">
        <h1 class="pragmatic_logo">
            Upload
        </h1>
        <form method="post" class="post=form my-3" enctype="multipart/form-data">
            <div class="form-group">
                <label for="imgfile"> image : </label>
                <input type="file" class="form-control" name="imgfile" id="imgfile">
            </div>
        </form>
    </div>
    
    
{% endblock  %}