{% extends 'base.html' %}
{% block content %}
    <style>
        .testing{
            background-color: white;
            height: 3rem;
            width: 3rem;
            margin: 1rem;
        }
    </style>
    <div style="text-align: center;">
        <h1 class="pragmatic_logo">
            Civit List!
        </h1>
        <a href="{% url 'view:delete'%}">
            delete
        </a>
        <div style="text-align: center;margin: 2rem 0;">
            <div>
                <table class="table-contents" style="padding:10px; text-align:center;">
                    <tr>
                        <th>name</th>
                        <th>user</th>
                        <th>image</th>
                        <th>prompt</th>
                        <th>model</th>
                    </tr>
                    {% for post in posts %}
                    <tr>
                        <td>
                            <a href="{{post.user_id}}/">
                                {{post.user_id}}
                            </a>
                        </td>
                        <td>{{post.name}}</td>
                        <td>
                            <img src="data:image/jpg;base64,{{post.img}}" alt="Base64 Image"/>
                        </td>
                        <td>{{post.prompt}}</td>
                        <td>{{post.model_hash}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    
    
{% endblock  %}