{% extends 'base.html' %}
{% block content %}
    <style>
        .testing{
            background-color: white;
            height: 3rem;
            width: 3rem;
            margin: 1rem;
        }
    </style>
    <div style="text-align: center;">
        <h1 class="pragmatic_logo">
            Civit List!
        </h1>
        <div style="text-align: center;margin: 2rem 0;">
            <div>
                <table class="table-contents" style="padding:10px; text-align:center;">
                    <tr>
                        <th>user</th>
                        <th>name</th>
                    </tr>
                    {% for post in posts %}
                    <tr>
                        <td>{{post.user_id}}</td>
                        <td>
                            <img src="{{post.name}}"/>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    
    
{% endblock  %}