{% extends 'base.html' %}
{% block content %}
    <style>
        .testing{
            background-color: white;
            height: 3rem;
            width: 3rem;
            margin: 1rem;
        }
    </style>
    <div style="text-align: center;">
        <h1 class="pragmatic_logo">
            Blog List!
        </h1>
        <button><a href="newpost/">write</a></button>
        <table style="padding:10px; text-align:center;">
        {% for list in postlist %}
            <tr>
                <td><a href="{{list.pk}}/">{{list.postname}}</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
    
    
{% endblock  %}