{% extends 'base.html' %}
{% block content %}
    <style>
        .testing{
            background-color: white;
            height: 3rem;
            width: 3rem;
            margin: 1rem;
        }
    </style>
    <div style="text-align: center;">
        <h1 class="pragmatic_logo">
            delete
        </h1>
        <form method="POST">
            {% csrf_token %}
            <h3>{{Post.postname}} delete</h3>
            <button>delete</button>
        </form>
    </div>
    
    
{% endblock  %}