{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <style>
        .testing{
            background-color: white;
            height: 3rem;
            width: 3rem;
            margin: 1rem;
        }
    </style>
    <div style="text-align: center;">
        <h1 class="pragmatic_logo">
            post!
        </h1>
        <a href ="/blog/{{post.pk}}/remove">delete</a>
        <table style="padding:10px; text-align:center;">
            <p>{{post.postname}}</p>
            <p>{{post.contents}}</p>
            <a href="/blog/">list</a>
        </table>
    </div>
    <div>
        <h4>comment_list</h4>
        {% if comments %}
        <p><b>comments have {{comments|length}}</b></p>
        {% endif %}
        <ul>
            {% for comment in comments %}
            <li>
                {{comment.user}} - {{comment.content}}
                {% if user == comment.user %}
                <form action="{% url 'blog:comments_delete' post.pk comment.pk %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <input type="submit" value="DELETE">
                </form>
                {% endif %}
            </li>
            {% empty %}
            <p> no comment </p>
            {% endfor %}
        </ul>
    </div>
    <div>
        {% if request.user.is_authenticated %}
        <form action="{% url 'blog:comments_create' post.pk %}" method="POST">
            {% csrf_token %}
            content<br>
            <textarea rows="10" cols="50" name="content"></textarea><br>
            <input type="submit">
        </form>
        {% else %}
        <a href="{% url 'accountapp:login' %}"> make comment need login </a>
        {% endif %}
    </div>

    
    
{% endblock  %}